.sebze, .meyve {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

#domates {
    color: tomato;
    font-size: 50px;
    border: 3px solid tomato;
    margin: 0;
}

#biber {
    color: green;
    border: 3px solid green;
    padding: 25px;  
}

#patlican {
    color: purple;
    border: 3px solid purple;
}

#cilek {
    display: none;
}

body {
    background-color: slategray;
}

#sebzeler, #meyveler {
    display: inline-block;
}